body{
    height: 100vh;
    flex-direction: column;
    /* justify-content: space-between; */
}
h3{
    font-weight: normal;
}
.rps{
    width: 100vw;
    height: auto;
    padding: 0 8px;
    border: 0;
    border-bottom: 3px solid black;
    padding-top: 30px;
}
.tictactoe{
    width: 100vw;
    height: auto;
    border: 0;
    padding: 0;
    flex: 1;
    border-top: 3px solid black;
}

.title{
    font-size: 2.7rem;
    padding: 2px;
}
.play__choose{
    margin: 20px 0 10px;
    font-size: 22px;
}
.play-options{
    height: 100px;
}
.option{
    font-size: 18px;
}
.play-options__img{
    width: 70px;
}
.play__button{
    margin-top: 10px;
    width: 110px;
    height: 35px;
}

#resultado{
    margin-top: 15px;
    display: flex !important;
}
#resultado__ganador{
    font-size: 30px;
}
.spec{
    font-size: 22px;
    padding: 5px;
}
.mano_jugador{
    margin: 5px 0 25px;
}

.board{
    margin: auto;
    margin-bottom: 30px;
}

.start{
    width: 280px;
    height: 320px;
    left: calc(50% - 140px);
    top: calc(50% - 160px)
}
.welcome{
    font-size: 30px;
}
.balance{
    font-size: 25px;
}
.games{
    font-size: 1.9rem;
}
.games__info{
    padding: 3px;
    margin-top: 5px;
}
.choose{
    font-size: 22px;
    margin-top: 15px;
}
.choose_buttons img{
    width: 70px;
}