*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  font-family: "Handlee";
  background: #FFD1BD;
  display: flex;
}
.title{
  background: white;
  box-shadow: 2px 2px 5px dimgray;
  left: 0;
  right: 0;
  text-align: center;
  padding: 3px;
  font-size: 4.5rem;
  position: absolute;
  width: 100%;
  z-index: 5;
}
.rps{
  width: 50vw;
  height: 100vh;
  padding: 60px 25px;
  transition: 400ms all;
}
.play{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.play__choose{
  margin-top: 40px;
  font-size: 3.5rem;
}
.play-options{
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 150px;
  justify-content: space-around;
  margin-top: 10px;
  position: relative;
}
.option{
  display: flex;
  cursor: pointer;
  height: 100%;
  flex-direction: column;
  padding: 15px;
  bottom: 8px;
  font-size: 2.6rem;
  font-family: monospace;
  letter-spacing: 1px;
  position: relative;
}
.play-options__box{
  transition: 150ms all;
}
.play-options__box:hover{
  border: 2px solid black;
  box-shadow: 3px 3px 5px gray;
}
.selected{
  border: 2px solid black;
  box-shadow: 3px 3px 5px gray;
}
.play-options__img{
  border-radius: 25%;
  margin-top: 5px;
  width: 100px;
  border: 2px solid black;
}
.play-options__box .radio{
  position: absolute;
  opacity: 0;
}
.play__button{
  background-color: #0288d1;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  font-size: 2.3rem;
  letter-spacing: 1px;
  font-weight:bold;
  height: 50px;
  margin: 20px auto 0;
  transition: 350ms all;
  width: 150px;
}
.play__button_hover{
  cursor: pointer;
  background-color: #03A9F4;
  box-shadow: 1px 1px 10px #3498DB;
}
.mano_jugador{
  background: #FFB0CD;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 145px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  display: flex;
  font-size: 2.2rem;
}
.mano_texto{
}
.ficha_elegida{
  width: 25px;
  vertical-align: middle;
}
#resultado{
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  margin-top: 10px;
}
#resultado__title{
  text-decoration: underline;
}
.resultado__spec{
  display: flex;
  font-weight: bold;
  flex: 1;
  font-size: 3rem;
}
.spec{
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  margin-left: 10px;
}
