.title{
  font-size: 35px;
}
.play__choose{
  font-size: 26px;
  margin-top: 20px;
}
.play-options__img{
  width: 80px;
}
.play{
  width: 100%
}
.play-options{
  height: 120px;
}
.option{
  font-size: 2rem;
  padding: 10px;
}
.play__button{
  width: 120px;
  height: 40px;
  font-size: 16px;
  margin-top: 10px;
}
#resultado{
  margin-top: 30px;
}
#resultado__ganador{
  font-size: 34px;
}
.resultado__spec{
  width: 100%;
  justify-content: space-evenly;
  margin: 5px 0;
}
.spec{
  margin: 0;
  padding: 8px;
  font-size: 25px;
}
.mano_jugador{
  font-size: 20px;
  width: 135px;
}
.board{
  width: 250px;
  height: 250px;
}
.position{
  width: 83.33333px;
  height: 83.33333px;
}
