.tictactoe{
  width: 50vw;
  height: 100vh;
  text-align: center;
  padding: 60px 25px;
  transition: 400ms all;
}
.board{
  width: 302px;
  margin: 60px auto 30px;
  height: 302px;
  border: 1px solid black;
  text-align: left;
}
.position{
  width: 100px;
  display: inline-block;
  float: left;
  height: 100px;
  border: 1px solid black;
  background-size: contain;
  cursor: pointer;
}
.position:hover{
  background-color: rgba(255,255,255,0.2)
}

.blur{
  opacity: 0.4;
}
.disable-click{
  pointer-events: none;
  border: 3px dashed black;
}
