*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Handlee', cursive;
  background: navajowhite;
  display: flex;
}
.title{
  position: absolute;
  left: 0;
  text-align: center;
  right: 0;
  margin: 5px auto 0;
  font-size: 4.5rem;
  width: 100%;
}
.rps{
  background: rgba(255,255,255,0.3);
  width: 50vw;
  opacity: 0.8;
  height: 100vh;
  padding: 25px;
}
.play{
  text-align: center;
}
.play__choose{
  margin-top: 40px;
  font-size: 3rem;
}
.play-options{
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 150px;
  justify-content: space-around;
  margin-top: 10px;
  position: relative;
}
.option{
  display: flex;
  cursor: pointer;
  height: 100%;
  flex-direction: column;
}
.play-options__box{
  padding: 15px;
  bottom: 8px;
  font-size: 2.3rem;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  transition: 150ms all;
}
.play-options__box:hover{
  border: 2px solid black;
  box-shadow: 3px 3px 5px gray;
}
.selected{
  border: 2px solid black;
  box-shadow: 3px 3px 5px gray;
}
.play-options__img{
  border-radius: 25%;
  width: 90px;
  border: 2px solid black;
}
.play-options__box .radio{
  position: absolute;
  opacity: 0;
}
.play__button{
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  font-weight:bold;
  height: 50px;
  margin: 10px auto 0;
  transition: 350ms all;
  width: 150px;
}
.play__button:hover{
  background-color: #ddd;
  box-shadow: 1px 1px 10px gray;
}
#resultado{
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 180px
}
#resultado__title{
  text-decoration: underline;

}
#resultado__maquina, #resultado__ganador{
  margin-top: 10px;
}
